/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Poppins', sans-serif,'Sacramento';
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth; 
}

p {
    color: var(--85-color);
}

/* dark and light mode*/
:root{
    /* theme colors */
    --primary-color: #fff;
    --secondary-color: black;
    --53-dark-color:rgb(53,53,53);
    --163-details:rgb(163, 163, 163);
    --85-color:rgb(85, 85, 85);
    --button-2-font-color:black;
    --button-1-font-color:white;
    --button-hover-2: rgb(53,53,53);
    --button-hover-1: black;
    --link-nav-hover:rgb(181, 181, 181);
    --shadow-color:#00000066;
    --button-color-2: var(--primary-color);
    --button-color-1: var(--53-dark-color);
    --auto-type: #cc5500;
    --nav-link-hover:grey;
    --border-icon:none;
}
.dark-theme{
    --primary-color: #121212;
    --secondary-color:white;
    --53-dark-color: white;
    --163-details:white;
    --85-color: white;
    --button-2-font-color:white;
    --button-1-font-color:white;
    --button-hover-2:#FFA756;
    --button-hover-1:#FFA756;
    --link-nav-hover:#FFA756;
    --shadow-color:#333333;
    --button-color-1:#cc5500;
    --button-color-2:#cc5500;
    --auto-type:#cc5500;
    --nav-link-hover:#FFA756;
    --border-icon:white;
    /* old-blue - #419bf9 */
}



/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP nav */

nav {
    justify-content: space-around;
    align-items: center;
    height: auto; 
    margin-top: 2rem;
    display: flex;
    z-index: -1;
    /* Whole screen is going to be 100 vh, so if you keep a component at 50 vh, it'll be placed in center of screen/viewport */
}

nav ul{
    display: flex;
    justify-content: right;
    text-align: right;
    height: auto;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    text-align: right;
    justify-content: right;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-color: var(--primary-color);

}

a:hover {
    color: var(--nav-link-hover);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--link-nav-hover);
}

.logo { 
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Homemade Apple';
    color: var(--secondary-color);
}

.logo:hover {
    cursor: default;
    font-size: 2.1rem;
}

.auto-type{
    color: #cc5500;
}

#theme-icon, #theme-icon1{
    width: 30px;
    cursor: pointer;
    border-radius:50%;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
    position:relative;
    z-index: 1;
    margin:auto;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position:absolute;
    top: 100%;
    right:0;
    background-color: var(--primary-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    margin: 1rem auto;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}




/* profile section */

.profile-container{
    display: flex;
    gap:2rem;
}
.profile-pic{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    left: 30%;
    opacity:0.9;
    margin: 1rem 2rem;
    transition: transform 150ms ease-in-out;
}

.profile-pic:hover{
    border-radius: 50%;
    /* width: 505px;
    height: 505px; */
    left: 30%;
    opacity:0.9;
    margin: 1rem 2rem;
    transform: scale(1.03);
}

section {
    padding-top: 4vh;
    height: auto;
    margin: auto 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


.section-container{
    display: flex;
    margin: 1rem 0;
}

.section__pic-container {
    display: flex;
    height: auto;
    width: auto;
}

#profile{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__text{
    text-align: center;
    align-self: center;
}

.section__text p {
    font-weight: 600;

}


.section__text__p1 {
    text-align: center;
    font-size: 1.2rem;
}

.section__text__p2 {
    font-size: 1.75rem;

}
.section__text__p2 span {
    font-size: 1.75rem;

}

.title {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 1rem;
    color: var(--secondary-color);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
    border: 0.1rem var(--border-icon) solid;
    border-radius: 50%;
    background-color: white;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 1rem;
}

.btn {
    font-weight: 600;
    transition:all 300ms ease;
    padding:1rem;
    width: 8rem;
    margin: 1rem 0.5rem;
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 2rem;
}

.btn-color-1{
    background-color: var(--button-color-1);
    color: var(--primary-color);
}

.btn-color-2 {
    background-color:var(--button-color-2) ;
    color: var(--button-2-font-color);
}

.btn-color-1,
.btn-color-2 {
    border: var(--secondary-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1 {
    color:var(--button-1-font-color); 
}

.btn-color-1 {
    background-color: var(--button-color-1);
}
/* hover effect in normal desktop website */
.btn-color-1:hover {
    border: var(--secondary-color) 0.1rem solid;
    background-color: var(--button-hover-1);
    box-shadow: none;
    color: var(--button-1-font-color);
}
.btn-color-2:hover {
    border: var(--secondary-color) 0.1rem solid;
    background-color:var(--button-hover-2);
    color: var(--button-1-font-color);
    box-shadow: none;
}
/* below media query is to remove hover effect for small screen sizes */
@media (hover: hover) {
    .btn-color-1:hover {
        border: var(--secondary-color) 0.1rem solid;
        background-color: var(--button-hover-1);
        box-shadow: none;
        color: var(--button-1-font-color);
    }
}
@media (hover: hover) {
    .btn-color-2:hover {
        border: var(--secondary-color) 0.1rem solid;
        background-color: var(--button-hover-2);
        color: var(--button-1-font-color);
        box-shadow: none;
    }
}

.btn-container {
    gap: 1rem;
}

.section-container{
    display: flex;
}

/* ABOUT SECTION */
#about{
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
}

.about-containers {
    gap: 2rem;
    display: flex;
    margin: 0 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    margin:1rem 0;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
    width: 450px;
    height: 450px;
    left: 30%;
    opacity:0.9;
    margin: 3rem 3rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.highlight{
    color: #cc5500;
}

.details-container{
    border-radius: 2rem;
    border:0.01rem solid var(--163-details);
    padding:2rem 2rem;
    flex: 1;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px var(--shadow-color);
    text-align: center;
}
.text-container{
    text-align: justify;
}

/* Timeline */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.timeline{
    position:relative;
    max-width: 1200px;
    margin: 2rem auto;
}
.container{
    padding: 10px 50px;
    position:relative;
    width: 50%;
    border-color: var(--53-dark-color);
}

.container .arrow {
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

.text-box{
    padding: 20px 30px;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 15px;
    font-size: 15px;
    border: 0.1rem var(--53-dark-color) solid;
}
.text-box p{
    color: var(--secondary-color);
}
.right-container{
    left: 50%;
}
.left-container{
    left: 0;
}
.container img{
    border-radius: 50%;
    position: absolute;
    width: 40px;
    z-index: 10;
    right: -20px;
    top: 32px;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 100%;
    background: var(--secondary-color);
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}


.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--53-dark-color);
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--53-dark-color);
    left: -15px;
}



/* skillset section */
#skillset {
    margin-top: 2rem;
    position: relative;
}
.experience-sub-title {
    color: var(--85-color);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h3, h4{
    color: var(--53-dark-color);
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#skillset .about-containers{
    display: flex;
    margin: 2rem 2rem;
}
.article-container{
    display: flex;
    text-align:start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    text-align: left;
    padding: 2rem;
}
.details-container{
    display: block;
    margin: 2rem 1rem;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap:0.5rem
}

.article icon {
    cursor: default;
}



/* ----------projects----------- */

#projects {
    position: relative;
    transition: 150ms ease-in-out;
}

.color-container {
    border-color: var(--163-details);
    /* background: linear-gradient(rgba(0,0,0,0.2),rgba(255,255,255,0.7)); */
    box-shadow: 2px 2px 4px var(--163-details);
}

.color-container:hover{
    transform:scale(1.03);
    box-shadow: 2px 2px 4px var(--163-details);
}

.project-img {
    border: #121212 0.1rem solid;
    width: 100%;
    height: 80%;
    border-radius: 2rem;
}

.details-container .color-container {
    border: #121212 0.1rem solid;
    width: 30%;
    height: 20%;
    border-radius: 2rem;
}
.project-title{
    margin: 0.5rem;
    color: var(--secondary-color);
}

.project-btn {
    color: var(--button-1-font-color);
    border-color: var(--163-details);
}

/* Contact */
#contact {
    margin: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border-color: var(--163-details);
    border-style: solid;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

.email-icon {
    height: 2.5rem;
}

/*Footer*/
footer {
    height: 26vh;
    margin: 0rem 1rem;
}
footer p {
    text-align: center;
    padding:2rem;
}